@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --g: #358105;
  --y: #ffbd00;
  --b: #000000;
  --w: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 350ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}
