@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --d: #263238;
  --g: #00796B;
  --y: #F4D35E;
  --f: #E0F2F1;
  --w: #F0FFF1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 350ms ease-in-out;
  font-family: "Geist";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--w);
}

header,
nav,
div,
form,
section,
footer {
  display: flex;
}
