/* @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --d: #00291B;
  --g: #00796B;
  --y: #C7D971;
  /* --y: #F4D35E; */
  --w: #FDFFFE;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 350ms ease-in-out;
  font-family: "Kode Mono";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--w);
}

header,
nav,
div,
form,
section,
footer {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  user-select: none;
}

section {
  scroll-margin-block-start: 3.925rem;
  min-height: 100dvh;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-track {
  background-color: var(--d);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--w);
  border-radius: 15px;
  border: 1px solid var(--d);
}

/* header and nav */
header.diff {
  border: 1px solid #00796B27;
  box-shadow: 0 10px 15px -5px #00796B27;
  background-color: var(--w);
}

nav {
  box-shadow: 0 10px 15px -5px #00796B37;
}

nav a:hover {
  color: var(--g);
}

/* services */
#works>div div .blocks {
  transform: translateY(100%);
}

#works>div div:hover .blocks {
  transform: translateY(0);
}

#works>div div .cards {
  position: absolute;
  bottom: 9px;
  left: 9px;
  transform: translateX(-150%);
}

#works>div div:hover .cards {
  transform: translateX(0);
}

/*** carousel and slides ***/
#carousel {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  anchor-name: --carousel;

  columns: 1;
  padding-bottom: 11px;

  >.carousel-slide {
    scroll-snap-align: start;
  }
}

/* #carousel { */
/*   &::scroll-button(*) { */
/*     position: absolute; */
/*     position-anchor: --carousel; */
/*     position-visibility: always; */
/*     font-family: "hugeicons-stroke-rounded"; */
/*     color: var(--d); */
/*     font-size: 24px; */
/*     width: 41px; */
/*     aspect-ratio: 1/1; */
/*     border-radius: 100%; */
/*     background-color: var(--y); */
/*     border: 1px solid var(--d); */
/*   } */

/*   &::scroll-button(right) { */
/*     position-area: inline-end block-end; */
/*     content: '\3C6B'; */
/*   } */

/*   &::scroll-button(left) { */
/*     position-area: inline-start block-end; */
/*     content: '\3C4D'; */
/*   } */
/* } */

#carousel::-webkit-scrollbar-track {
  background: var(--w);
  outline: 2px solid var(--d);
  border-radius: 15px;
}

#carousel::-webkit-scrollbar-thumb {
  background: var(--d);
  border-color: var(--w);
  border-radius: 15px;
}

#carousel::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}
