@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --d: #162822;
  --g: #00796B;
  --y: #F4D35E;
  --f: #F7E991;
  --w: #FDFFFE;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 350ms ease-in-out;
  font-family: "Geist";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--w);
}

header,
nav,
div,
form,
section,
footer {
  display: flex;
}

section {
  min-height: 100dvh;
}

nav {
  box-shadow: 0 20px 25px -5px #00796B37;
}
